[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"


[project]
name = "interactive_pipe"
version = "0.5.2"
authors = [
  { name="Balthazar Neveu", email="balthazarneveu@gmail.com" },
]
description = "Library to created flexible interactive image processing pipelines"
readme = "readme.md"
requires-python = ">=3.7"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: The Unlicense (Unlicense)",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/balthazarneveu/interactive_pipe"
"Bug Tracker" = "https://github.com/balthazarneveu/interactive_pipe/issues"