/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* navbar
 * ----------------------------------------*/

.navbar {
  background-color: rgb(245, 245, 245);
}
.navbar li {
  transition: .3s background-color;
  text-align: center;
  background-color: transparent;
  padding: 0rem 1rem;
  text-decoration: none;
  border-radius: 0.3rem;
}
.navbar li:hover {
  background-color: #00A3E0;
}
.navbar li .nav-link{
  color: #00A3E0;
}
.navbar li:hover .nav-link{
  color: #212529;
}

.dropdown-menu {
  background-color: rgb(250, 250, 250); /*#000000d0;*/
}

.dropdown-item {
  color: #00A3E0;
}

.dropdown-item:hover {
  background-color: #00A3E0D0;
}

.hero {
  background-color: rgba(245, 245, 245, 0.92);
  text-color: black;
}


.top-image {
  height: 10rem;
  max-width: 20rem;
}


.outline-interactivepipe {
  color: #00A3E0;
  background-color: transparent;
  border-color: #00A3E0;
}

.outline-interactivepipe:hover {
  color: #212529;
  background-color: #00A3E0;
  border-color: #00A3E0;
}

.filled-interactivepipe {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.filled-interactivepipe:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}



/* CODE BLOCKS
-------------------------------------------------- */

/* Center codeblocks vertically in region */
.code-block {
  display: flex;
  flex-direction: column;
justify-content: center;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
  text-align: left;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  padding-bottom: 1rem;
}

.featurette-subheading {
  text-transform: uppercase;
  font-size: 1.2rem;
  display: block;
  font-weight: 600;
  margin: 1.2rem 0;
}

/* Supporters
 * ----------------------------*/

.supporters {
  text-align: center;
}

.supporter {
  margin: 0.5rem 0;
  width: 100%;
}

.supporter img{
  max-height: 80%;
  max-width: 80%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 3rem;
  }
}
